clarify TSA certificate validity requirement

This is not really a rekor-tiles issue but I'll file here since we do have a `CLIENTS.md`... Feel free to move if there's a better place.

I'd like a clarification somewhere  on how the client timestamp verification should work WRT TSA certificate validity:
* Normally I think a timestamp verifier client would require the certificate chain to be valid at time of verification
* I think in our case we don't want that?
  * sigstore signatures should remain valid into future, regardless of any certificate lifetimes
  * the timestamp certificates should be valid at time of timestamp

This came up because conformance test suite includes (rekor v1) bundles with  timestamps where certificates have already expired: https://github.com/sigstore/sigstore-python/issues/1442#issuecomment-3048753733

Reading the RFC:    

```
B) The validity of the digital signature may then be verified in the
      following way:

...

      4)    The date/time indicated by the TSA MUST be within the
            validity period of the signer's certificate.

...

```

There is no requirement for current time to be within certificate validity period so maybe my suggestion is actually the RFC compatible way to verify the timestamp and that the python rfc3161-client is just a little too strict about it.


@haydentherapper if you know this can you confirm if my last comment is correct (TSA client should not require certitificate to be valid at time of verification but only at time of timestamp)?

If yes, then I think we can close this and I just try to get the python tsa client fixed.

Thanks for digging into this. I spent some time digging into the spec (and seeing if Gemini could provide any more guidance - it contradicted itself multiple times), and I've come to the conclusion that RFC3161 provides no explicit guidance on how to handle chain validity and it's up to the system to make a decision.

Appendix B is relevant for verifying a digital signature, but not the chain itself. (4) links the signed timestamp to the TSA certificate (the top-level leaf that certified the timestamp). This makes sense - a timestamp should have been issued when the certificate was valid. (5) and (6) provide an route for marking a timestamp as distrusted and I think would only be relevant to Sigstore if we introduce a mechanism for revocation of our PKIs - TUF is a sufficient mechanism for "revocation".

The best guidance I could find out on the internet is [this stackexchange thread](https://security.stackexchange.com/questions/195813/what-happens-when-the-timestampers-certificate-expires) which provides two completely different answers.
* The first says what you're saying here, point-in-time verification and using the timestamp from the signed timestamp when determining the validity of the root. Note there is no citation for this beyond the user's own blog post.
* The second says what I'm saying, that the PKI chain has its own validity, citing RFC 3161 section 4.3:

```
   3. The TSA signing key MUST be of a sufficient length to allow for a
      sufficiently long lifetime.  Even if this is done, the key will
      have a finite lifetime.  Thus, any token signed by the TSA SHOULD
      be time-stamped again (if authentic copies of old CRLs are
      available) or notarized (if they aren't) at a later date to renew
      the trust that exists in the TSA's signature. time-stamp tokens
      could also be kept with an Evidence Recording Authority to
      maintain this trust.
```

The lack of clarity here is that RFC 3161 is not explicit about what to do about the PKI chain that certifies the TSA signing key. My interpretation of 4.3 is that a signing key has a finite lifetime and will expire, but should be as long as the ecosystem wants to extend the validity of an artifact. If we go with your interpretation, we're saying that artifacts are indefinitely valid wrt the timestamp.

I think both are reasonable interpretations of the spec and we as an ecosystem need to make a decision on if we want TSA expiration to cause an artifact to be distrusted, or if we need really long-lived TSA certificates.

If 10 years is the validity window for artifacts signed today, that doesn't hold true for artifacts signed in 2034 (or something). Do we intend on TSAs with cert lifetimes of 10 years, but reissue them every year -- or do we expect diminishing lifetimes for those timestamps?

We're very strongly defining an expiration for signatures as 10 years -- and then asking that people "re-sign" old software. Our current model at least in java for sigstore is to have the signatures sit next in the artifact directory next to the artifact on maven central (which is not modifiable), so we can't resign. I imagine other systems may run into similar issues.

I think revocation in sigstore land is explicitly handled by the trust root, so we can actually take jussi's approach. It does make sense, doesn't tie us to any expiration date and seems to be within scope? But I dunno, also we really need a test for this.


> We're very strongly defining an expiration for signatures as 10 years -- and then asking that people "re-sign" old software

Given we haven't stated this anywhere, that we have implicit build horizons, I'd agree with Jussi's approach to use the timestamp to verify the chain.

Sorry, forgot to update this after doing some exploration. sigstore-go, using the timestamp-authority library, which uses digitorus/timestamp, which uses digitorus/pkcs7, uses the [time of issuance](https://github.com/digitorus/pkcs7/blob/ffadbf3f398c152d115d67a6880715ce896c6707/verify.go#L192) from the timestamp for verifying the chain, so there's no work needed for Go.

A client spec update being more explicit about this would be great.

With the spec change in, I'll mark this as complete. Clients should confirm they're verifying TSA certificates in this way.